<html>
<head>
    <link rel="stylesheet" href="__PUBLIC__/css/css.css" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script language="javascript" type="text/javascript" src="__PUBLIC__/WdatePicker/WdatePicker.js"></script>
</head>
<body>
<form action="#">
    <table width="1052" border=0 align=center cellpadding=2 cellspacing=1 bordercolor="#799AE1" class=tableBorder>
        <tbody>
        <tr>
            <th align=center colspan="16" style="height: 23px">条件查询</th>
        </tr>
        <tr bgcolor="#DEE5FA">
            <td colspan="16" align="center" class=txlrow>&nbsp;</td>
        </tr>
        <tr align="center" bgcolor="#799AE1">
            <td width="7%" align="center" class="txlHeaderBackgroundAlternate">客户名</td>
            <!-- <td width="6%" align="center" class=txlHeaderBackgroundAlternate>操作</td> -->
            <td width="6%" align="center" class="txlHeaderBackgroundAlternate">起始日期
            <td width="6%" align="center" class="txlHeaderBackgroundAlternate">结束日期
            </td>
            <td width="6%" align="center" class="txlHeaderBackgroundAlternate">操作</td>
        </tr>
        <tr bgcolor="#DEE5FA">
            <td align="center" class="txlrow">
                <input type="text" name="name" id="start"/>
            </td>
            <td align="center" class="txlrow">
                <input type="text" onfocus="WdatePicker({skin:'default'})" />
            </td>
            <td align="center" class="txlrow">
                <input type="text" onfocus="WdatePicker({skin:'default'})" />
            </td>
            <td align="center" class="txlrow">
                <a href="#">查找</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<table width="1052" border=0 align=center cellpadding=2 cellspacing=1 bordercolor="#799AE1" class=tableBorder>
    <tbody>
    <tr>
        <th align=center colspan=16 style="height: 23px">客户信息浏览</th>
    </tr>
    <tr bgcolor="#DEE5FA">
        <td colspan="16" align="center" class=txlrow>&nbsp;</td>
    </tr>
    <tr align="center" bgcolor="#799AE1">
        <td width="6%" align="center" class="txlHeaderBackgroundAlternate">客户ID</td>
        <td width="7%" align="center" class=txlHeaderBackgroundAlternate>客户名</td>
        <td width="4%" align="center" class=txlHeaderBackgroundAlternate>性别</td>
        <td width="7%" align="center" class=txlHeaderBackgroundAlternate>地址</td>
        <td width="9%" align="center" class=txlHeaderBackgroundAlternate>注册时间</td>
        <td width="9%" align="center" class=txlHeaderBackgroundAlternate>电子邮件</td>
        <td width="3%" align="center" class=txlHeaderBackgroundAlternate>联系电话</td>
        <td width="6%" align="center" class=txlHeaderBackgroundAlternate>操作</td>
        <td width="4%" align="center" class=txlHeaderBackgroundAlternate>选定</td>
    </tr>

    <volist name="userList" id="user">
        <tr bgcolor="#DEE5FA">
            <td align="center" class="txlrow">{$user.id}</td>
            <td align=center class=txlrow>{$user.real_name}</td>
            <td align=center class=txlrow>
                <if condition="$user.sex eq 1">男
                    <else/>
                    女
                </if>
            </td>
            <td align=center class=txlrow>{$user.address}</td>
            <td align=center class=txlrow>{$user.reg_time}</td>
            <td align=center class=txlrow>{$user.email}</td>
            <td align=center class=txlrow>{$user.mobile}</td>
            <td align=center class=txlrow><a href="#">删除</a></td>
            <td align=center class=txlrow><a href="__APP__/User/editUser?uid={$user.id}">修改</a></td>
        </tr>
    </volist>

    <tr bgcolor="#DEE5FA">
        <td colspan="16" align=center bgcolor="#DEE5FA" class=txlrow>&nbsp;</td>
    </tr>

    </tbody>
</table>

</BODY>
</HTML>
